body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #111;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #button-legal {
        background-color: rgba(255, 0, 255, 0);
        cursor: pointer;
        height: 15px;
        width: 60px;
        top: 482px;
        left: 48px;
        position: absolute;
    }

    #border {
        border: 3px solid #fff;
        display: block;
        width: $banner-width - 6;
        height: $banner-height - 6;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

    #border2 {
        border: 1px solid #000000;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

    #curtain {
        top: 0;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
    }

    #txt1 {
        left: 0;
        top: 65px;
        opacity: 0;
        position: absolute;
    }

    #model_ID {
        left: 39px;
        top: 205px;
        position: absolute;
    }

    #atlas {
        right: 0;
        top: 230px;
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #rating {
        left: 22px;
        top: 357px;
        opacity: 0;
        position: absolute;
    }

    #legal {
        left: 0;
        top: 0;
        height: 600px;
        width: $banner-width;
        background-color: rgba(0, 0, 0, .8);
        opacity: 0;
        pointer-events: none;
        position: absolute;

        #legal_txt {
            left: 0;
            top: 15px;
            position: absolute;
        }
    }

    #footer {
        background: #FFFFFF;
        left: 0;
        top: 460px;
        width: $banner-width;
        height: 140px;
        position: absolute;

        #cta_txt {
            left: 40px;
            top: 50px;
            opacity: 0;
            clip: rect(0px, 80px, 10px, 0px);
            position: absolute;
        }

        #cta_arrow {
            left: 40px;
            top: 50px;
            opacity: 0;
            clip: rect(0px, 88px, 10px, 80px);
            position: absolute;
        }

        #logo {
            right: 54px;
            bottom: 7px;
            position: absolute;
        }

        #legal_btn_txt {
            left: 51px;
            top: 24px;
            position: absolute;
        }
    }
}
